@model LayoutViewModel		
	<div id="page">
		
	<header class="header menu_fixed">
		<div id="preloader"><div data-loader="circle-side"></div></div><!-- /Page Preload -->
		<div id="logo">
			<a href="~/index.html">
				<img src="~/img/@Model.LogoURL width="150" height="36" alt="" class="logo_normal">
				<img src="~/img/@Model.LogoURL  width="150" height="36" alt="" class="logo_sticky">
			</a>
		</div>
		<ul id="top_menu">
			<li><a href="~/cart-1.html" class="cart-menu-btn" title="Cart"><strong>4</strong></a></li>
			<li><a asp-controller="Account" asp-action="Login" id="sign-in" class="login" title="Sign In">Sign In</a></li>
			<li><a href="~/wishlist.html" class="wishlist_bt_top" title="Your wishlist">Your wishlist</a></li>
		</ul>
		<!-- /top_menu -->
		<a href="~/#menu" class="btn_mobile">
			<div class="hamburger hamburger--spin" id="hamburger">
				<div class="hamburger-box">
					<div class="hamburger-inner"></div>
				</div>
			</div>
		</a>
		<nav id="menu" class="main-menu">
			<ul>
				@foreach (var nav in Model.Links)
			   {
				   
				<li><span><a asp-controller=@nav.ControllerName asp-action=@nav.ActionName>@nav.Name</a></span>
				
				</li>
				
			   }
				
			@*	<li><span><a asp-controller ="About" asp-action="Index">About</a></span>
					
				</li>
				<li><span><a asp-controller="Tour" asp-action="Index">Tours</a></span>
				
				</li>
				<li><span><a asp-controller="Service" asp-action="Index">Services</a></span>
					
				</li>
				<li><span><a asp-controller="Blog" asp-action="Contact">Contact</a></span></li>
				*@
				
				
				
			</ul>
		</nav>
	</header>
	<!-- /header -->