@{
    ViewData["Title"] = "Index";
}

  <section class="content">
        <div class="container-fluid">
            <!-- Small boxes (Stat box) -->
            <div class="row">
                <div class="col-12">
                    <h1>Hello @User.Identity.Name!</h1>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
