@model RegisterViewModel

@{
    Layout = null;
}


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Voyage">
    <meta name="author" content="Ansonika">
    <title>Voyage</title>

    <!-- Favicons-->
    <link rel="shortcut icon" img="~/img/voyage.svg" type="image/x-icon">
    <link rel="apple-touch-icon" type="image/x-icon" href="~/img/apple-touch-icon-57x57-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="72x72" href="~/img/apple-touch-icon-72x72-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="114x114" href="~/img/apple-touch-icon-114x114-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="144x144" href="~/img/apple-touch-icon-144x144-precomposed.png">

    <!-- GOOGLE WEB FONT -->
    <link rel="preconnect" href="~/https://fonts.gstatic.com">
    <link href="~/https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">

    <!-- BASE CSS -->
    <link href="~/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/css/style.css" rel="stylesheet">
	<link href="~/css/vendors.css" rel="stylesheet">

    <!-- YOUR CUSTOM CSS -->
    <link href="~/css/custom.css" rel="stylesheet">
	
</head>

<body id="register_bg">

	
	<nav id="menu" class="fake_menu" style=" background: url(@Url.Content($"~/img/register.jpg") center center no-repeat fixed;"></nav>
	
	<div id="preloader">
		<div data-loader="circle-side"></div>
	</div>
	<!-- End Preload -->
	<div id="login">
		<aside>
			<figure>
				<a ><img src="img/voyage.svg" width="155" height="36" alt="" class="logo_sticky"></a>
			</figure>
			<form method="post" enctype="multipart/form-data" asp-controller="Account" asp-action="Register" autocomplete="off">
				<div class="form-group">
					<label>Your Name</label>
					<input asp-for="FullName" class="form-control" type="text">
					<span class="text-danger" asp-validation-for="FullName" ></span>
					<i class="ti-user"></i>
				</div>
				<div class="form-group">
					<label>Your UserName</label>
					<input asp-for="UserName" class="form-control" type="text">
					<span class="text-danger" asp-validation-for="UserName" ></span>
					<i class="ti-user"></i>
				</div>
				<div class="form-group">
					<label>Your Email</label>
					<input asp-for="Email" class="form-control" type="email">
					<span  class="text-danger" asp-validation-for="Email"></span>
					<i class="icon_mail_alt"></i>
				</div>
				<div class="form-group">
					<label>Your password</label>
					<input asp-for="Password" class="form-control" type="password" id="password1">
					<span class="text-danger" asp-validation-for="Password" ></span>
					<i class="icon_lock_alt"></i>
				</div>
				<div class="form-group">
					<label>Confirm password</label>
					<input asp-for="ConfirmPassword" class="form-control" type="password" id="password2">
					<span class="text-danger" asp-validation-for="ConfirmPassword" ></span>
					<i class="icon_lock_alt"></i>
				</div>
				<div class="form-group">
                                <label asp-for="Image">Image</label>
                                <input style="height:46px;" class="form-control" asp-for="Image" accept="image/*">
                                <span class="text-danger" asp-validation-for="Image"></span>
                            </div>
				<div id="pass-info" class="clearfix"></div>
				<button  type="submit" class="btn_1 rounded full-width add_top_30">Register Now!</button>
				<div class="text-center add_top_10">Already have an acccount? <strong><a asp-action="Login">Sign In</a></strong></div>
			</form>
			<div class="copy">© Voyage</div>
		</aside>
	</div>
		<!-- /login -->
	
	<!-- COMMON SCRIPTS -->
    <script src="~/js/common_scripts.js"></script>
    <script src="~/js/main.js"></script>
	<script src="~/assets/validate.js"></script>
	
	<!-- SPECIFIC SCRIPTS -->
	<script src="~/js/pw_strenght.js"></script>
	
  
</body>
</html>